class @com.herokuapp.lorem-rss.broken.nosubscribe
#[version=1] {
  import loader from @org.thingpedia.rss();
  import config from @org.thingpedia.config.none();

  monitorable query feed(out title: String,
                         out link: Entity(tt:url),
                         out description: String,
                         out updated_time: Date)
  #[poll_interval=0ms]
  #[url="http://lorem-rss.herokuapp.com/feed"];
}

