class @org.thingpedia.test.subclass extends @org.thingpedia.test.parentclass
#[version=1]
#[package_version=1] {
    import loader from @org.thingpedia.v2();
    import config from @org.thingpedia.config.none();

    // nothing declared here
}
