class @org.thingpedia.test.broken.noaction
#[version=1]
#[package_version=1] {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.none();

  action something_else(out v3: String);
}

