class @org.thingpedia.test.collection
#[version=1]
#[package_version=1]
#[child_types=["org.thingpedia.test.subdevice"]] {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.none();
}

