class @org.thingpedia.test.broken.nosubscribe
#[version=1]
#[package_version=1] {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.none();

  monitorable query something(out v1: String,
                              out v2: Number)
  #[poll_interval=0ms];
}

